WEBMENTION_API_KEY=

PUBLIC_GISCUS_REPO=LokiWager/lokiwager.github.io
PUBLIC_GISCUS_REPO_ID=R_kgDOK5t_Dg
PUBLIC_GISCUS_CATEGORY=Announcements
PUBLIC_GISCUS_CATEGORY_ID=DIC_kwDOK5t_Ds4C4eyH
PUBLIC_GISCUS_MAPPING=pathname
PUBLIC_GISCUS_STRICT=0
PUBLIC_GISCUS_REACTIONS_ENABLED=1
PUBLIC_GISCUS_EMIT_METADATA=0
PUBLIC_GISCUS_INPUT_POSITION=top
PUBLIC_GISCUS_LANG=en
PUBLIC_GISCUS_LOADING=lazy
PUBLIC_GISCUS_THEME_LIGHT=light
PUBLIC_GISCUS_THEME_DARK=dark_dimmed
PUBLIC_GISCUS_TERM=
