@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: 172deg 18% 41%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 351deg 66% 48%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 351deg 66% 48%;
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: 330deg 49% 67%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 159deg 64% 45%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 102deg 100% 86%;
	}

	html {
		@apply scroll-smooth;
	}

	html body {
		@apply mx-auto flex min-h-screen max-w-5xl flex-col bg-bgColor pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}

	.prose {
		@apply !max-w-3xl xl:max-w-4xl;
	}
}

.prose-lg :where(li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

.prose-lg p {
	margin-bottom: 1em;
}

.prose-lg p,
.prose-lg li {
	font-size: 0.9em;
	letter-spacing: -0.05px;
	word-spacing: -0.05px;
	text-wrap: pretty;
}

@media (min-width: 768px) {
	.prose-lg p,
	.prose-lg li {
		font-size: 1em;
	}
}

.prose-lg :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
	font-size: 1.25em;
}

.prose-lg :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose-lg :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose-lg :where(a):not(:where([class~="not-prose"] *)) {
	letter-spacing: -0.05px;
	word-spacing: -0.05px;
}

.prose-lg h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}
